* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: grey;
}
/* regole header generali */

.header-flex-wrap {
  display: flex;
  width: 100vw;
  height: 45px;
  background-color: lightgrey;
}

.header-left-wrap {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}

.header-right-wrap {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
}

/* lato sx header regole */

#profile-img {
  background-color: white;
  background-image: url(img/avatar.png);
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.profile-icons {
  color: darkgrey;
}

.profile-icons i {
  padding-right: 15px;
  cursor: pointer;
}

/* lato dx header regole */

.chatting-with {
  background-color: white;
  background-image: url(img/avatar.png);
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}


/* regole main */
.main-flex-wrap {
  display: flex;
  height: calc(100vh - 45px);
  width: 100vw;
}

.lista-contatti {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.sezione-notifiche {
  height: 45px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ringbell {
  background-color: #f4fcff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ringbell i {
font-size: 1.2em;
color: lightblue;
}

.searchBar {
  display: flex;
  position: relative;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f4fcff;
}
.searchBar i {
  position: absolute;
  left: 23px;
  color: lightgrey;
}
.searchBar input {
  height: 22px;
  width: 95%;
  border: 1px solid #f9f9f9;
}
/*  sezione contatti  */


.box-contatto {
  height: 45px;
  display: flex;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  justify-content: flex-start;
  align-items: center;
}

.img-profilo {
  background-color: #f4fcff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* chatbox */

#chatbox {
  display: flex;
  background-image: url(img/sfondo.jpg);
  width: 70vw;
  height: calc(100vh - 45px);
  flex-direction: column;
}

.chat {
  height: calc(100vh - 45px);
  width: 100%;
}

.writebar {
  height: 45px;
  width: 100%;
  background-color: lightgrey;
}
