* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: grey;
}

.template {
  display: none;
}
/* regole header generali */

.header-flex-wrap {
  display: flex;
  width: 100vw;
  height: 45px;
  background-color: lightgrey;
}

.header-left-wrap {
  display: flex;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}

.header-right-wrap {
  display: flex;
  width: 70vw;
  justify-content: space-between;
  align-items: center;
}

/* lato sx header regole */

#profile-img {
  background-color: white;
  background-image: url(img/avatar.png);
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.profile-icons {
  color: darkgrey;
}

.profile-icons i {
  padding-right: 15px;
  cursor: pointer;
}

/* lato dx header regole */

.chatting-with {
  background-color: white;
  background-image: url(img/avatar.png);
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}


/* regole main */
.main-flex-wrap {
  display: flex;
  height: calc(100vh - 45px);
  width: 100vw;
}

.lista-contatti {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.sezione-notifiche {
  height: 45px;
  background-color: lightblue;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ringbell {
  background-color: #f4fcff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ringbell i {
font-size: 1.2em;
color: lightblue;
}

.searchBar {
  display: flex;
  position: relative;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #f4fcff;
}

.searchBar i {
  position: absolute;
  left: 17px;
  color: lightgrey;
}

.searchBar input {
  height: 22px;
  width: 85%;
  border: 1px solid #f9f9f9;
}


/*  sezione contatti  */
.sezione-contatti {
  overflow: auto;
}

.box-contatto {
  height: 45px;
  display: flex;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.box-contatto:hover {
  background-color: lightgrey;
}

.img-profilo img {
  background-color: #f4fcff;
  background-size: contain;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* chatbox */

#chat-screen {
  display: flex;
  background-image: url(img/sfondo.jpg);
  width: 70vw;
  height: calc(100vh - 45px);
  flex-direction: column;
}
/* regole chat */
.chat {
  height: calc(100vh - 45px);
  width: 100%;
  overflow: auto;
}


.box-messaggio-utente{
  text-align: right;
}

.messaggio-utente {
  background-color: lightgreen;
  display: inline-block;
  padding: 20px 10px;
  margin: 10px 30px;
  border-radius: 10px;
  position: relative;
}

.messaggio-utente .fa-chevron-down, .messaggio-interlocutore .fa-chevron-down {
  display: none;
  padding-left: 10px;
}
.messaggio-utente p, .messaggio-interlocutore p {
  display: inline-block;
}

.messaggio-utente:hover .fa-chevron-down, .messaggio-interlocutore:hover .fa-chevron-down {
display: inline-block;
}

.ora-utente, .ora-interlocutore {
  position: absolute;
  bottom: 0;
  right: 4px;
  font-size: 10px;
  color: grey;
}

.template-messaggio-interlocutore {
  text-align: left;
}

.messaggio-interlocutore {
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 10px 30px;
  border-radius: 10px;
  position: relative;
}

/* regole dropdown */
.chat-dropdown {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  border:1px solid pink;
  text-decoration: none;
  padding: 10px;
  bottom: -50px;
  right: 0px;
  z-index: 2;

}
.chat-dropdown ul {
  list-style: none;
  text-align: left;
}
.chat-dropdown a {
  text-decoration: none;
  color: grey;
}

/*  regole writebar */
.writebar {
  height: 55px;
  width: 100%;
  background-color: #e7e8e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.writebar i {
  color: grey;
  font-size: 1.2em;
  cursor: pointer;
}

.chatbox {
  width: 75%;
}
.chatbox input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: none;
}
